.gallery-thumbnails
  a.gallery-thumbnail(rel='fancybox-thumb', ng-repeat="image in galleryImages", href="{{galleryImagesLocationHires}}{{image.image}}")
    img(ng-src="{{galleryImagesLocationLores}}{{image.image}}")